# Core packages
numpy==1.26.4
scipy==1.15.2
scikit-learn==1.6.1

# PyTorch ecosystem
#torch==2.7.0+cu118
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0

# Utilities
pandas==2.0.3
tqdm==4.65.0
pytz==2025.1
DateTime==5.5
matplotlib==3.10.1